@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
$blue: #2352E2;
$gray: #161616;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    background: $gray;
    color: white;
    font-family: 'Anton', sans-serif;
    overflow-x: hidden;
    // transition: 0.5s;
    // transition-delay: 0.5s;
    a, ul, li{
        text-decoration: none;
        list-style: none;
        color: white;
    }
    h1, h2, h3, b{
        font-weight: lighter;
    }
    button{
        font-family: 'Anton', sans-serif;
    }
   
    .page{
        // width: 100vw;
        padding-top: 5rem;
      
    }
    .oferta-kat{
        overflow-y: auto;
        .small-prod-img{
            display: none;
        }
        #img{
            height: calc(100vh - 5rem);
           position: fixed;
           left: 65%;
           transform: translateX(-35%) ;
           z-index: -1;
       }
       #sec1{
           width: 60vw;
           background: $gray;
           position: absolute;
           z-index: 3;
           min-height: 100vh;
           padding: 5rem;
           h1{
               font-size: 3rem;
            //    display: none;
           }
           p{
            //    display: none;
               line-height: 2rem;
           }
           #products{
               position: absolute;
               margin-top: 2rem;
               bottom: 0;
               left: 0;
               width: 100%;
               height: 40%;
               display: flex;
               position: relative;
               justify-content: space-around;
               flex-wrap: wrap;
               
            .prod{
                width: 100%;
                text-align: center;
                margin: 1rem;
                img{
                    z-index: 2;
                    position: relative;
                    width: 23vw;
                    min-width: 18rem;
                }
            }
        }
       }
     
       #sec2{
           width: 10vw;
           position: fixed;
           right: 0;
           top: 0;
           z-index: 3;
           height: 100vh ;
           background: $gray;
          
       }
      

    }
    #loading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 8vw;
        white-space: nowrap;

       div{
        min-width: 40px;
        min-height: 40px;
        width: 10vw;
        height: 10vw;
        border: 8px solid rgba(255,255,255,.1);
        border-right: 8px solid $blue;
        border-radius: 50%;
        animation: spinner 1s linear infinite;
       }
    }
    #about{
        flex-wrap: wrap;
        display: flex;
        #back-img{
        // //    position: absolute;
        // //    bottom: 0;
        // //    right: 0;
        // //   display: none;
        // width: 40vw;
        margin-top: -20vh;          
            position: absolute;
            min-height: 40vh;
            min-width: 100vw;
            margin-top: -20vh;
            top: -10vh;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
        // }
        }
        #smaller-about{
            width: 30vw;
            min-width: 15rem;
            height: 50vh;
            // color: $blue;
            background: $blue;
            overflow: hidden;
            position: absolute;
            padding: 1rem;
            bottom: 0;
            right: 0;
            z-index: -2;
            position: fixed;
            display: none;
        }
        #napisy{
            width: 70vw;
            margin-left: 2rem;
            margin-top: 2rem;
            // display: none;
            h1{
                font-size: 3rem;
            }
            p{
                color: rgb(160, 160, 160);
                margin-left: 1rem;
                margin-top: 1rem;
                padding-bottom: 2rem;
            }
            min-width: 10rem;
            // background: pink;
        }
        section{
            width: 100vw;
            margin-top: 40vh;
            background: $gray;
            height: 40vh;
            padding: 2rem;
            z-index: 2;
            h1{
                // margin-left: 10vw;
                margin-top: 3rem;
                font-size: 4rem;
            }
           
            #about-mapper{
                // background: pink;
                display: flex;
                margin-top: 10vh;
                width: 60vw;
                justify-content: space-around;

                .about-card{
                    width: 30%;
                    
                    h3{
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                    }
                    img{
                        width: 3rem;
                        margin-left: 50%;
                        transform: translateX(-50%);
                        filter: invert(100%) sepia(6%) saturate(24%) hue-rotate(251deg) brightness(107%) contrast(105%);
                    }
                }
            }
        }
    }
    .product-info{
        transition: 0.5s;
        .product-success{
            overflow: hidden;
            .background-pic{
                position: fixed;
                width: 100vw;
                min-height: 100vh;
                z-index: -3;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            .shadow-menu{
                position: fixed;
                z-index: 2;
                transition: 0.5s;
                // background: pink;
                height: 4.8rem;
                width: 100vw;
                top:0;
            }
            .product-spec{
                width: 40vw;
                min-width: 25rem;
                background: rgba(0, 0, 0, 0.637);
                min-height: 100vh;
                img{
                    filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(75deg) brightness(105%) contrast(103%);
                    height: 4rem;
                    float: left;
                }
                position: absolute;
                top: 0;
                padding-top: 5rem;
                padding-bottom: 2rem;
                right: 0;
                h1{
                    text-align: center;
                    font-size: 3rem;
                }
                p{
                    padding-left: 3rem;
                    padding-right: 3rem;
                }
                .product-map{
                    // background: pink;
                    padding-left: 20%;
                    padding-right: 20%;
                    margin-top: 3rem;
                    // text-align: center;
                    section{
                        justify-content: center;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        display: flex;
                        line-height: 4rem;
                        // background: pink;
                        h3{
                            padding-left: 1rem;
                        }
                    }
                }
            }
        }
    }
}   
  
@media screen  and ( max-width:  720px) {
    .oferta-kat{
        .small-prod-img{
            display: block !important;
            margin-left: 50%;
            transform: translateX(-50%);
            // width: 150vw;
            margin-top: 1rem;
        }
        #sec2{
            display: none;
        }
        #img{
            position: absolute !important;
        }
        #sec1{
            width: 100vw !important;
            margin-top: -4rem;
            padding: 2rem !important;
            #products{
                // background: red;
                // width: 75vw !important ;
                display: block !important;
                .prod{
                    margin-left: 50% !important;
                    transform: translateX(-50%) !important;
                }
            }
        }
    }
    .product-info{
        p{
            text-align: center !important;
        }
        .product-spec{
            width: 100vw !important;
        }
    }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@import './kontakt';
@import './menu';
@import './main-page';
@import './animations';
@import './mobile';